input {
  font-family: 'NanumSquareRound', 'Courier New', Courier, monospace;
  outline: none;
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  -webkit-transition: .2s;
     -moz-transition: .2s;
       -o-transition: .2s;
          transition: .2s;

  &:hover, &:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
}